@tailwind base;
@tailwind components;
@tailwind utilities;


.select-wrapper {
	@apply absolute;
}

.select-parent {
	@apply absolute;
}

.select-bg {
	@apply bg-black bg-opacity-15;
}

.text-bg {
	@apply backdrop-blur-sm whitespace-nowrap;
}

.select-wrapper .select-container {
	@apply origin-center !outline-cyan-400;

	--s: 12px;
	/* the size on the corner */
	--t: 3px;
	/* the thickness of the border */
	--g: 10px;
	/* the gap between the border and image */

	padding: calc(var(--g) + var(--t));
	outline: var(--t) solid #B38184;

	/* the color here */
	outline-offset: calc(-1*var(--t));

	-webkit-mask:
		conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
		linear-gradient(#000 0 0) content-box;

	mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
		linear-gradient(#000 0 0) content-box;
}

.corner-border-small {
	--s: 6px;
	--t: 1px;
	--g: 4px;

	padding: calc(var(--g) + var(--t));
	outline: var(--t) solid;
	@apply outline-cyan-400;

	/* the color here */
	outline-offset: calc(-1*var(--t));

	-webkit-mask:
		conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
		linear-gradient(#000 0 0) content-box;

	mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
		linear-gradient(#000 0 0) content-box;
}